<main class="container pt-5">
    <p>Home Component</p>
    <!-- <ul>
            <li class="text" *ngFor="let item of items | async">
                <div>
                    {{item.displayName}}
                    <img width="30px" src="{{item.photoURL}}" alt="">
                </div>
            </li>
        </ul> -->
    <!-- <app-loader *ngIf="showLoader"></app-loader>
    <div *ngFor="let singledata of item | async">
        {{singledata.displayName}} <img width="25px" src="{{singledata.photoURL}}" alt=""> {{singledata.email}}
    </div> -->

    <!-- <h4> {{item | async | json }} </h4>
        <input [(ngModel)]="newContent">
        <button (click)="updateContent()">Update</button> -->
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae non adipisci, fuga inventore commodi aspernatur? Eveniet tenetur cum saepe dolorem ex incidunt molestias, dolore sapiente corrupti accusantium vitae expedita totam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae non adipisci, fuga inventore commodi aspernatur? Eveniet tenetur cum saepe dolorem ex incidunt molestias, dolore sapiente corrupti accusantium vitae expedita totam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae non adipisci, fuga inventore commodi aspernatur? Eveniet tenetur cum saepe dolorem ex incidunt molestias, dolore sapiente corrupti accusantium vitae expedita totam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae non adipisci, fuga inventore commodi aspernatur? Eveniet tenetur cum saepe dolorem ex incidunt molestias, dolore sapiente corrupti accusantium vitae expedita totam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae non adipisci, fuga inventore commodi aspernatur? Eveniet tenetur cum saepe dolorem ex incidunt molestias, dolore sapiente corrupti accusantium vitae expedita totam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae non adipisci, fuga inventore commodi aspernatur? Eveniet tenetur cum saepe dolorem ex incidunt molestias, dolore sapiente corrupti accusantium vitae expedita totam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae non adipisci, fuga inventore commodi aspernatur? Eveniet tenetur cum saepe dolorem ex incidunt molestias, dolore sapiente corrupti accusantium vitae expedita totam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae non adipisci, fuga inventore commodi aspernatur? Eveniet tenetur cum saepe dolorem ex incidunt molestias, dolore sapiente corrupti accusantium vitae expedita totam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae non adipisci, fuga inventore commodi aspernatur? Eveniet tenetur cum saepe dolorem ex incidunt molestias, dolore sapiente corrupti accusantium vitae expedita totam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae non adipisci, fuga inventore commodi aspernatur? Eveniet tenetur cum saepe dolorem ex incidunt molestias, dolore sapiente corrupti accusantium vitae expedita totam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae non adipisci, fuga inventore commodi aspernatur? Eveniet tenetur cum saepe dolorem ex incidunt molestias, dolore sapiente corrupti accusantium vitae expedita totam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae non adipisci, fuga inventore commodi aspernatur? Eveniet tenetur cum saepe dolorem ex incidunt molestias, dolore sapiente corrupti accusantium vitae expedita totam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae non adipisci, fuga inventore commodi aspernatur? Eveniet tenetur cum saepe dolorem ex incidunt molestias, dolore sapiente corrupti accusantium vitae expedita totam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae non adipisci, fuga inventore commodi aspernatur? Eveniet tenetur cum saepe dolorem ex incidunt molestias, dolore sapiente corrupti accusantium vitae expedita totam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae non adipisci, fuga inventore commodi aspernatur? Eveniet tenetur cum saepe dolorem ex incidunt molestias, dolore sapiente corrupti accusantium vitae expedita totam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae non adipisci, fuga inventore commodi aspernatur? Eveniet tenetur cum saepe dolorem ex incidunt molestias, dolore sapiente corrupti accusantium vitae expedita totam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae non adipisci, fuga inventore commodi aspernatur? Eveniet tenetur cum saepe dolorem ex incidunt molestias, dolore sapiente corrupti accusantium vitae expedita totam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae non adipisci, fuga inventore commodi aspernatur? Eveniet tenetur cum saepe dolorem ex incidunt molestias, dolore sapiente corrupti accusantium vitae expedita totam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae non adipisci, fuga inventore commodi aspernatur? Eveniet tenetur cum saepe dolorem ex incidunt molestias, dolore sapiente corrupti accusantium vitae expedita totam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae non adipisci, fuga inventore commodi aspernatur? Eveniet tenetur cum saepe dolorem ex incidunt molestias, dolore sapiente corrupti accusantium vitae expedita totam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae non adipisci, fuga inventore commodi aspernatur? Eveniet tenetur cum saepe dolorem ex incidunt molestias, dolore sapiente corrupti accusantium vitae expedita totam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae non adipisci, fuga inventore commodi aspernatur? Eveniet tenetur cum saepe dolorem ex incidunt molestias, dolore sapiente corrupti accusantium vitae expedita totam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae non adipisci, fuga inventore commodi aspernatur? Eveniet tenetur cum saepe dolorem ex incidunt molestias, dolore sapiente corrupti accusantium vitae expedita totam!
    </p>
</main>